.phrase__form {
    display: flex;
    flex-direction: column;
    padding: 0px 20px 20px 20px;
}

/* @media (min-width: 768px) {
    .phrase__form {
      margin: 0% 10%;
    }
  } */


input {
    border: 3px solid rgb(216, 216, 216);
    border-radius: 10px !important;
    background-color: white;
    padding: 10px;
    color: black !important;
}

@media (min-width: 768px) {
    input {
        border: 3px solid rgb(216, 216, 216);
        border-radius: 10px !important;
        background-color: white;
        padding: 10px;
        color: black !important;
        margin-left: 80px;
    }

    button {
        margin-left: 70px !important;
    }
}

.phrase__description {
    color: blue;
    font-weight: 400;
}


.social__handles {
    color: rgb(100, 71, 163) !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

button {
    flex: 0;
    align-self: center;
}

a {
    text-decoration: none;
}